<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Tool/top" />
</head>
<body>
<script type="text/javascript" src="__PUBLIC__/js/chplayer/chplayer.min.js"></script>
<div class="mui-content">
    <div class="mui-card">
        <ul class="mui-table-view mui-table-view-chevron">
            <li class="mui-table-view-cell mui-collapse">
                <!--<a class="mui-navigate-right" href="#">产品</a>-->
                <a class="mui-navigate-right" href="#">
                    <img class="mui-media-object mui-pull-left head-img" id="head-img" src="__PUBLIC__/<?php if(empty($user[0]['headimg'])) {
                    echo 'images/logo.png';
                    } else {
                        echo 'upload/'.$user[0]['headimg'];
                    }
                    ?>">
                    <div class="mui-media-body">
                        <?=$user[0]['user']?>
                        <p class='mui-ellipsis'>钱包余额：<span class="mui-badge mui-badge-warning "><?=number_format($xjnum,2)?></span> </p>
                    </div>
                </a>
                <ul class="mui-table-view mui-table-view-chevron">
                    <li class="mui-table-view-cell"><a class="mui-navigate-right" href="__MODULE__/My/jbxxxg">修改资料</a>
                    </li>
                    <li class="mui-table-view-cell"><a class="mui-navigate-right" href="__MODULE__/My/xgmm">修改密码</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="mui-content">
    <div id="video" style=""></div>
</div>

<script type="text/javascript">
    var video_url = PUBLIC + '/huoying.mp4';
    var videoObject = {
        container: '#video',//“#”代表容器的ID，“.”或“”代表容器的class
        variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
        video: video_url//视频地址
    };
    var player=new chplayer(videoObject);
</script>
<include file="Tool/footer" />
</body>
</html>