<meta charset="utf-8">
<title>小黄人</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--标准mui.css-->
<link rel="stylesheet" href="__PUBLIC__/css/mui.min.css">
<!--App自定义的css-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/app.css"/>
<!--<link href="__PUBLIC__/css/style.css" rel="stylesheet" />-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-extra.css" />
<style>
	html,
	body {
		background-color: #efeff4;
		font-size: 14px;
		font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", "黑体";
	}

	.foot-no{
		color: #9b9b9c;
		font-weight: normal;
	}
	.foot-active{
		color: #f64c47;
		font-weight: bolder
	}


</style>

<script type="text/javascript">
	var URL = "__URL__";
	var APP = "__APP__";
	var ROOT = "__ROOT__";
	var PUBLIC = ROOT + "/Public";
	var Set = ROOT + "/Public";
	var UPLOAD = "<?php echo $_SERVER['DOCUMENT_ROOT'];?>" + "/upload/";
</script>
<script src="__PUBLIC__/js/mui.min.js"></script>
<script src="__PUBLIC__/script/jquery.min.js"></script>
<!--<script src="__PUBLIC__/js/mui.enterfocus.js"></script>-->
<!--<script src="__PUBLIC__/js/app.js"></script>-->
<script src="__PUBLIC__/js/mui.view.js "></script>
<!--<script src='__PUBLIC__/js/feedback.js'></script>-->