
<!--<section class="aui-content user-info aui-text-center aui-margin-b-15">
    <img src="<?=$headimgurl?>" class="avatar aui-img-round">
    <h2 class="aui-margin-t-15"><?=$user['username']?> <small><i class="aui-iconfont aui-icon-cert aui-text-danger"></i></small></h2>
</section>-->
<div class="aui-list-head aui-row">
    <div class="aui-list-head-img aui-col-xs-3" style="margin-top:40px; margin-left:15px">
        <img src="<?=$headimgurl?>" class="avatar aui-img-round" width="95">
    </div>
    <div class="aui-col-xs-3" style="margin-top:60px; margin-left:15px; color:#FFF;">
        <span class="aui-font-size-20"><?=$user['username']?></span><span class="aui-font-size-12">（ID:<?=$user['uid']?>）</span>
        <span class="aui-font-size-12" style="color: #F6C443;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
        <span class="aui-font-size-12 aui-text-warning" >普通会员</span>
    </div>
   <!-- <div class="aui-col-xs-3" style="margin-top:60px; margin-left:60px; color:#FFF;" >
        <div class="aui-btn aui-btn-danger aui-btn-block aui-btn-outlined aui-btn-sm">开通VIP会员</div>
    </div>-->
    <!--<div class="aui-col-xs-2" style="margin-top:73px; margin-left:15px"><span class="aui-label aui-label-danger aui-label-outlined aui-margin-l-5">开通会员</span></div>-->
</div>

<section class="aui-content">
        <ul class="aui-list aui-list-in aui-margin-b-15">

        </ul>
</section>